* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: blueviolet;
}

header {
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.navbar-not {
  position: relative;
  padding: 40px;
  display: flex;
  justify-content: left;
  margin-top: -4%;
  margin-right: 10px;
}

.navbar_btn{
  color: black;
}

main {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.img_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_title img {
  width: 180px;
}

.login-container {
  width: 100%;
  max-width: 370px;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  color: white;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #2980b9;
}

.extra-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}

.extra-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.extra-links a:hover {
  color: #2980b9;
}

@media (max-width: 400px) {
  .login-container {
    padding: 15px;
  }

  .extra-links {
    flex-direction: column;
    text-align: center;
  }

  .extra-links a {
    margin-top: 5px;
  }
}